main{
    margin: auto;
    margin-top: 100px;
    width: 600px;
    height: 400px;
    background-color:#c7d0c3;
    display: flex;
    border-radius: 12px;
   
   
}
.section-1 img {
    width: 300px;
    height: 400px;
    border-radius: 12px 0px 0px 12px;
    
}
.section-1{
display:inline-block;
width: 300px;
height: 400px;
}

.section-2{
    display:inline-block;
    width: 300px;
    height: 350px;
    padding: 25px;
    
}
.title{
    color:#939492;
    letter-spacing: 3px;
    font-family:Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 11px;
}
.text-1{
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #303130;

   
}
.text-2{
    color:#939492 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.price{
    display: flex;
    width: 100px;
    height: 30px;
    color:#3eb877 ;
    font-size: 20px;
}
.price h5 {
    margin-left: 15px;
    padding-top: 5px;
    color:#4f6459 ;
}

.botao-enviar{
    margin-top: 50px;
    height: 50px;
}

.botao-enviar button{
    height: 50px;
    width:250px ;
    background-color: rgb(25, 71, 57);
    border-radius: 11px;
    font-size: 20px;
    color: #ecf1ea;
    border: none;

}


